body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  padding: 20px 40px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #f1c40f;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
}

a::before {
  content: "Hover me";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  transition: all 0.5s;
  transform-origin: top;
  transform: rotateX(270deg);
}

a::after {
  content: "Hover me";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2ce771;
  transition: all 0.5s;
  transition-delay: 0.25s;
  transform-origin: top;
  transform: rotateX(270deg);
}

a:hover::before,
a:hover::after {
  transform: rotateX(0);
}
